nav {
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    button {

        background: transparent;
        border:none;
        transition: all 0.3s ease;
        outline: none;
        border-radius: 3px;

        &:active {
          
            transform: rotate(180deg); 
        }

        
    }
}

@media screen and (max-width: 768px) {
    nav {
        button {
            z-index: 10;
        }
    }
}

@media screen and (max-width: 768px) {
    nav {
       margin-top: 20px;
    }
}